.vc_custom_1435816078010 {
    margin-bottom: 15px !important;
}
.vc_custom_1532606334380 {
    margin-bottom: 29px !important;
}
.vc_custom_1533797542593 {
    margin-bottom: 32px !important;
}
.vc_custom_1435815274494 {
    margin-bottom: 20px !important;
}
.vc_custom_1533797569809 {
    padding-left: 3px !important;
}
.vc_custom_1533797569811 {
    margin-bottom: 3px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}
.vc_custom_1533797588645 {
    padding-left: 3px !important;
}
.vc_custom_1533797588646 {
    margin-bottom: 3px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}
.vc_custom_1533797700167 {
    padding-left: 3px !important;
}
.vc_custom_1533797700168 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}
.vc_custom_1532594558060 {
    margin-top: 60px !important;
    margin-bottom: 24px !important;
}
.vc_custom_1532604259381 {
    margin-bottom: 69px !important;
}
.vc_custom_1435819083449 {
    margin-bottom: 64px !important;
}
.vc_custom_1532608445427 {
    margin-bottom: 37px !important;
}
.vc_custom_1435659486461 {
    margin-bottom: 0px !important;
}
.vc_custom_1532608688589 {
    margin-top: -20px !important;
    margin-bottom: 35px !important;
}
.vc_custom_1435658011507 {
    padding-left: 7px !important;
}
.vc_custom_1435658011508 {
    margin-top: 0px !important;
    border-top-width: 1px !important;
    border-bottom-width: 1px !important;
    padding-top: 30px !important;
    padding-right: 0px !important;
    padding-bottom: 14px !important;
    padding-left: 0px !important;
    border-top-color: #e1e2e4 !important;
    border-top-style: solid !important;
    border-bottom-color: #e1e2e4 !important;
    border-bottom-style: solid !important;
}
.vc_custom_1435139343164 {
    margin-bottom: 0px !important;
}
.vc_custom_1435139343164 {
    margin-bottom: 0px !important;
}
.vc_custom_1436791397964 {
    padding-right: 0px !important;
}
.vc_custom_1436790977027 {
    padding-left: 0px !important;
}
.vc_custom_1435665617761 {
    padding-left: 7px !important;
}
.vc_custom_1435665617764 {
    margin-top: 27px !important;
    border-bottom-width: 1px !important;
    padding-top: 0px !important;
    padding-right: 15px !important;
    padding-bottom: 17px !important;
    padding-left: 0px !important;
    border-bottom-color: #e1e2e4 !important;
    border-bottom-style: solid !important;
}
.vc_custom_1435665538824 {
    padding-left: 26px !important;
}
.vc_custom_1435665538825 {
    margin-top: 27px !important;
    border-bottom-width: 1px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 17px !important;
    padding-left: 0px !important;
    border-bottom-color: #e1e2e4 !important;
    border-bottom-style: solid !important;
}
.vc_custom_1436791452718 {
    padding-right: 0px !important;
}
.vc_custom_1436791272952 {
    padding-left: 0px !important;
}
.vc_custom_1435657717791 {
    padding-top: 10px !important;
    padding-left: 3px !important;
}
.vc_custom_1435657717792 {
    margin-top: 27px !important;
    padding-top: 0px !important;
    padding-right: 15px !important;
    padding-bottom: 14px !important;
    padding-left: 0px !important;
}
.vc_custom_1435657734647 {
    padding-top: 3px !important;
    padding-left: 26px !important;
}
.vc_custom_1435657734648 {
    margin-top: 27px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 14px !important;
    padding-left: 0px !important;
}
.vc_custom_1532608697069 {
    margin-top: -20px !important;
    margin-bottom: 35px !important;
}
.vc_custom_1435665826984 {
    margin-top: 39px !important;
    margin-bottom: 0px !important;
}
.vc_custom_1437478190523 {
    margin-right: 0px !important;
    margin-bottom: 20px !important;
    padding-right: 64px !important;
}
.vc_custom_1435665074871 {
    margin-bottom: 20px !important;
}
.vc_custom_1532608711151 {
    margin-bottom: 37px !important;
}
.vc_custom_1532608720941 {
    margin-bottom: 37px !important;
}
.vue_is_disabled {
    display: none;
}
.vc_custom_1534238310373 {
    margin-bottom: 0px !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
}
.vc_custom_1536053689227 {

}
.animate-style{
    background-image: url(../images/animation/header.jpg?id=1144) !important;
    background-position: 10% 20% !important; position: relative; left: -351.5px; box-sizing: border-box; width: 1903px; padding-left: 351.5px; padding-right: 351.5px;
    margin-bottom: -15px;
}
.space-98{
    height: 98px;
}
.space-75{
    height: 75px;
}
.space-27{
    height: 27px;
}
.space-45{
    height: 45px;
}
.space-18{
    height: 18px;
}
.white{
    color:#fff;
}
.suscriber{
    position: relative; left: -351.5px; box-sizing: border-box; width: 1903px; padding-left: 351.5px; padding-right: 351.5px;
}
.cursos{
    position: relative; left: -351.5px; box-sizing: border-box; width: 1903px;
}
.h2-title{
    font-size: 50px;line-height: 60px;
}
.h4-title{
    font-size: 19px;color: #ffffff;line-height: 22px
}
.h5-title{
    font-size: 15px;color: #ffffff;line-height: 22px;
}
.vc_custom_1531998548740 {
    margin-bottom: 0px !important;
    padding-bottom: 46px !important;
    background-color: #f0f4fa !important;
}
.vc_custom_1534239338510 {
    margin-bottom: 0px !important;
    background: #f0f4fa url(https://stylemixthemes.scdn2.secure.raxcdn.com/white-lms/wp-content/uploads/sites/7/2018/07/we_proud.png?id=287) !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
}
.margin-bottom-0{
    margin-bottom: 0px !important;
}
.vc_custom_1532327899226 {
    margin-bottom: 0px !important;
    background-color: #f0f4fa !important;
}
.vc_custom_1535369584754 {
    margin-bottom: 7px !important;
    background-color: #f0f4fa !important;
}
.vc_custom_1533037364435 {
    padding-right: 6.55% !important;
    padding-left: 6.55% !important;
}
.vc_custom_1531830215765 {
    margin-bottom: 0px !important;
}
.vc_custom_1535366613275 {
    margin-bottom: 40px !important;
}
.vc_custom_1535366761423 {
    padding-bottom: 20px !important;
}
.vc_custom_1535366769840 {
    padding-bottom: 20px !important;
}
.vc_custom_1535366786219 {
    padding-bottom: 20px !important;
}
.padding-bottom-44{
    margin-bottom: 44px !important;
}
.text-align-left{
    text-align: left;
}
.text-align-center{
    text-align: center;
}
.vc_custom_1534239815041 {
    padding: 0px !important;
}
.vc_custom_1534239801946 {
    padding: 0px !important;
}
.vc_custom_1535368966565 {
    margin-bottom: -9px !important;
}
.no-padding-botton{
    padding: 0px !important;
}
.text-master-mind {
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}
.bg_suscriber{
    background-color: #0168b5 !important;
}
@media print {
    .pmpro_a-print {
        display: none;
        position: absolute;
        left: -9999px
    }
}
.vc_custom_1533706322004 {
    margin-bottom: 0px !important;
}
.vc_custom_1533706426175 {
    margin-bottom: 0px !important;
}
.stm_lms_courses_category a:hover h4 {
    color: #195ec8
}
.module__f3eac30ffcdce927d15c39838e8e910f {
    background: #f2f6fb !important;
    color: #273044;
}
.module__f3eac30ffcdce927d15c39838e8e910f .icon {
    height: 76px;
}
.module__f3eac30ffcdce927d15c39838e8e910f .icon i {
    font-size: 51px;
    color: #195ec8 !important;
}
.module__df9ceca0e8527971a2077ab928c0fe8f {
    background: #f2f6fb !important;
    color: #273044;
}
.module__df9ceca0e8527971a2077ab928c0fe8f .icon {
    height: 76px;
}
.module__df9ceca0e8527971a2077ab928c0fe8f .icon i {
    font-size: 54px;
    color: #195ec8 !important;
}
.module__8c3033ebf56b4b964392037df86f8ff0 {
    background: #f2f6fb !important;
    color: #273044;
}
.module__8c3033ebf56b4b964392037df86f8ff0 .icon {
    height: 76px;
}
.module__8c3033ebf56b4b964392037df86f8ff0 .icon i {
    font-size: 50px;
    color: #195ec8 !important;
}
.capacitacion-title {
    font-family: "Open Sans" !important;
    font-weight: 700;
    text-align: center;
    font-size: 55px;
    color:white;
}
.header-plataforma {
    text-align: center;
    font-size: 20px;
    color:whitesmoke;
}
.btn-danger.lg, .button.lg, .form-submit .submit.lg, .post-password-form input[type="submit"].lg {
    padding-top: 23px !important;
    padding-bottom: 23px !important;
    border-radius: 60px !important;
    line-height: 14px;
    font-size: 14px;
    min-width: 135px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.img-login {
    margin-top: 61px;
}

@media (max-width: 968px) {
    .vc_row.aed6bbdbcfb88221d9cb9b85256190b1e {
        background-image: none !important;
    }
}
@media (max-width: 1440px) {
    .aed6bbdbcfb88221d9cb9b85256190b1e .stm_lms_row_animation {
        right: 30px !important;
    }
}
@media (max-width: 1024px) {
    .aadf880d5c8986bd0deb6423c92c9d948 {
        height: 30px !important;
    }
}
@media (max-width: 1024px) {
    .a11cba70e4710584340f5e5e7c0bb7f30 {
        height: 30px !important;
    }
}
@media (max-width: 768px) {
    .a11cba70e4710584340f5e5e7c0bb7f30 {
        height: 30px !important;
    }
}
@media (max-width: 1024px) {
    .a7bb2857e4f42561a3ef743780f2aaab6 {
        height: 30px !important;
    }
}
@media (max-width: 768px) {
    .a7bb2857e4f42561a3ef743780f2aaab6 {
        height: 30px !important;
    }
}


@media ( max-width: 320px ) {
    .hide-boton{
        display: none;        
    }
}
@media ( max-width: 480px ) {
    .hide-boton{
    display: none;        
    }
}

@media (max-width: 515px) {
    .hide-boton{
        display: none;        
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hide-boton{
        display: none;        
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .capacitacion-title {
        font-size: 44px;
    }
    .header-plataforma {
        font-size: 18px;
        line-height: 28px;
    }
}


@media (max-width: 1024px) { .a3b8602d12208927a4a9a27379b1014ff { height : 40px !important; } }
@media (max-width: 768px) { .a3b8602d12208927a4a9a27379b1014ff { height : 30px !important; } }
@media (max-width: 968px) { .vc_row.a9ff1d1a9908abebc8fc1ee6b5f2d9096 { background-image: none !important; } }
@media (max-width: 1024px) { .a21addf589817401ad295073cf611e4b9 { height : 40px !important; } }
@media (max-width: 1024px) { .a21addf589817401ad295073cf611e4b9 { height : 40px !important; } }
@media (max-width: 1024px) { .a9ff892a4b93a9ccd2fe95c188511a8eb { height : 60px !important; } }
@media (max-width: 768px) { .a9ff892a4b93a9ccd2fe95c188511a8eb { height : 40px !important; } }
@media (max-width: 1024px) { .a0904c47a8fdb55bdbffdfe58e40ff2d1 { height : 0px !important; } }
@media (max-width: 1024px) { .a77ebfd36b5a39b7e350e246ec22bf799 { height : 30px !important; } }
@media (max-width: 768px) { .a77ebfd36b5a39b7e350e246ec22bf799 { height : 20px !important; } }
@media (max-width: 968px) { .vc_row.aa5c78e661a071cc8ef558ce0a5313b4c { background-image: none !important; } }
.style_search{
    border: none;
}
.logo{
    width: 250px;
    margin-top: -18px;
}
.active_nav{
    color:red !important;
    font-weight: bold !important;
}
.shopping_nav{
    color:green !important;
    font-weight: bold !important;
}
.btn-success:hover {
    color: white !important;
}


.stm_lms_downloadable_content__files {
    margin: 40px 0;
    border-top: 3px solid #385bce;
}

.stm_lms_downloadable_content {
    padding: 18px 0;
    border-top: 3px solid #385bce;
    border-bottom: 1px solid #e1e2e4;
}
.stm_lms_downloadable_content__inner {
    position: relative;
    padding-left: 65px;
}
.stm_lms_downloadable_content__icon {
    position: absolute;
    left: 0;
    top: 50%;
    width: 42px;
    height: 45px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.stm_lms_downloadable_content__row {
    display: flex;
    align-items: center;
}
.stm_lms_downloadable_content__left {
    flex-grow: 1;
    max-width: 60%;
    padding-right: 30px;
}
.stm_lms_downloadable_content__title {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
}
.stm_lms_downloadable_content__right {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 52px;
    padding-right: 60px;
    margin-left: auto;
}
.stm_lms_downloadable_content__size span {
    font-weight: 200;
}
.stm_lms_downloadable_content__url {
    position: absolute;
    right: 0;
    top: 0;
    height: 52px;
    width: 52px;
    border: 1px solid #e4e6e8;
    background-color: #f0f4fa;
    font-size: 20px;
    text-align: center;
    line-height: 47px;
    letter-spacing: -2px;
    border-radius: 50%;
}
.stm_lms_downloadable_content__files .stm_lms_downloadable_content {
    border-top: 0;
}
