.vc_custom_1502087455074 {
    background-color: #1E2229;
}
.vc_custom_1502096185436 {
    padding-top: 100px !important;
}
.vc_custom_1502163012164 {
    background-color: #202121 !important;
}
.vc_custom_1502165393804 {
    padding-top: 25px !important;
    padding-bottom: 60px !important;
    background-color: #f0f0f0 !important;
}
.vc_custom_1502265070316 {
    margin-bottom: 0px !important;
}
.vc_custom_1528950746971 {
    padding-top: 0px !important;
}
.vc_custom_1502081858697 {
    padding-top: 42px !important;
    padding-bottom: 0px !important;
}
.vc_custom_1502265039449 {
    background-color: #1ea69a !important;
}
.vc_custom_1502095063222 {
    padding-right: 30px !important;
}
.vc_custom_1502095072725 {
    padding-left: 30px !important;
}
.vc_custom_1502096768858 {
    padding-right: 30px !important;
}
.vc_custom_1502163002858 {
    margin-top: -74px !important;
    padding-left: 30px !important;
}
.vc_custom_1502179038756 {
    margin-bottom: 0px !important;
}
.vc_custom_1517196927163 {
    margin-top: -20px !important;
    padding-top: 0px !important;
}
.vc_custom_1517199392249 {
    margin-top: -19.5px !important;
    padding-top: 0px !important;
}
.vc_custom_1502183302752 {
    margin-bottom: 0px !important;
}
.vc_custom_1502187435885 {
    margin-bottom: 0px !important;
    padding-right: 100px !important;
}
.vc_custom_1502273625937{
    padding-top: 31px !important;
    background-color: #1E2229 !important;
}
    .line-price{
        text-decoration: line-through !important;
    }
    .conocer_mas{
        font-size: 11px;
        text-transform: uppercase;
        line-height: 1.38;
        letter-spacing: .3px;
        padding: 0 20px 10px 30px;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer;
        color: #aaa !important;
    }   
    .white{
        color:whitesmoke !important;
    }
    .aaa{
        color:#bbb !important;
    }
    /*#202121*/
    .social_color{
        color: #bbb !important;
    }